
/* Font Family 
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
*/

.material-symbols-outlined{
      font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
    }
  
    .star{
        color:red;
    }
.super-host{
    
width: 100px;
height: 28px;

border: 1px solid #4F4F4F;
border-radius: 12px;
   
}

.caja2{
    padding-top: 15px;
}
.info2{
    padding-top: 4px;
    font-family: 'Monserrat', sans-serif;
    color: #333333;
}

.apartment{
    size: 6px !important;
    font-family: 'Monserrat', sans-serif;
   color: #828282;
   
}
.nota{
font-family: 'Montserrat';
font-size: 14px;
font-weight: bold;
color: #4F4F4F;
bottom: 5px;
position: relative;
}

.img2{
aspect-ratio: 3/2;
}

.hide{
    display: none;
}
.offcanvas-body{
    display: flex;
    justify-content: center;
    align-items: start;

    gap: 10px;
    
   
    
}
.texto1{
    width: 400px;
    border-radius: 32px;
}
.texto2{
    width: 400px;
    border-radius: 28px;
}
.btn2{
    height: 50px;
    border-radius: 20px;
    width: 150px;
}
.form-control{
    border-radius: 20px;
}
.contenedor2{
    height: 400px !important;
}
.lista{
    display: flex;
    justify-content: center;
    height: 200px;
  
    width: 200px;
    position: relative;
    left: 19em;
    bottom: 4em;
}
.list-item{
    list-style: none;
    position: relative;
    
    
    
}

.list-group{
    display: flex;
    justify-content: space-evenly;
}